@import "@styles/main";

.h5p-personality-quiz-result-screen {
  align-items: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 25rem;
  opacity: 1;
  transition: opacity ease-in-out 1s;
  padding: 1rem;

  &.fade-in {
    opacity: 0;
  }

  .h5p-personality-quiz-result-screen-explanation {
    background-color: rgba(233, 239, 247, 0.8);
    padding: 1rem;
    width: 80%;

    .h5p-personality-quiz-result-screen-explanation-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }

    .h5p-personality-quiz-result-screen-explanation-image-inline {
      display: block;
      max-height: 15rem;
      max-width: 100%;
      margin: 1rem auto 0 auto;

      &.display-none {
        display: none;
      }
    }

    .h5p-personality-quiz-result-screen-explanation-description {
      margin-bottom: 0;
      margin-top: 1rem;

      &> p:last-child {
        margin-bottom: 0;
      }

      &.display-none {
        display: none;
      }
    }

    &.display-none {
      display: none;
    }
  }

  .h5p-personality-quiz-result-screen-reset-button {
    background-color: var(--color-button-background);
    background-size: cover;
    border: 0;
    border-radius: 3px;
    color: var(--color-button-text);
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5rem 2.5rem;
    text-align: center;
    text-decoration: none solid var(--color-button-text);

    &:hover {
      background-color: var(--color-button-hover);
      background-size: cover;
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-button-active);
      background-size: cover;
    }

    &:focus {
      outline-style: double;
    }
  }

  &.display-none {
    display: none;
  }
}
