@import "@styles/main";

@keyframes loadingFade {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}

.h5p-personality-quiz-panel {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 4rem;
  width: 100%;

  .h5p-personality-quiz-panel-image {
    max-height: 10rem;
    object-fit: cover;
  }

  .h5p-personality-quiz-question {
    font-weight: bold;
    padding: 1em;
    text-align: center;
  }

  .h5p-personality-quiz-answer-options {
    padding: 0;

    .h5p-personality-quiz-answer-list-item {
      list-style: none;
    }

    &.mode-image {
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      gap: 1rem;

      .h5p-personality-quiz-answer-list-item {
        height: 100%;
      }
    }

    &.mode-text {
      gap: 0.5rem;
      grid-template-columns: 1fr;
    }
  }

  &.appearance-classic {
    .h5p-personality-quiz-question {
      font-weight: bold;
      padding: 1em;
      text-align: center;
    }

    .h5p-personality-quiz-answer-options {
      display: grid;
      margin: 0;
      padding: 0;
    }
  }

  &.appearance-chat {
    gap: 1.5rem;
    margin-bottom: 0.5rem;
    min-height: 2.5rem;

    .h5p-personality-quiz-question {
      background-color: #eeeeee;
      border-radius: 1rem 1rem 1rem 0;
      box-shadow: 0.125rem 0.125rem 0.25rem rgba(0 0 0 / 0.2);
      font-weight: normal;
      line-height: 1rem;
      margin-left: 2.5rem;
      padding: 0.5rem 1rem;
      position: relative;
      text-align: left;
      width: fit-content;

      .typing-animation-dots {
        padding: calc(0.25rem + 1px) 0;
        height: 1rem;

        .typing-animation-dot {
          float: left;
          width: 0.5rem;
          height: 0.5rem;
          margin: 0 0.25rem;
          background: #8d8c91;
          border-radius: 50%;
          opacity: 0;
          animation: loadingFade 1s infinite;

          &:nth-child(1) {
            animation-delay: 0s;
          }

          &:nth-child(2) {
            animation-delay: 0.2s;
          }

          &:nth-child(3) {
            animation-delay: 0.4s;
          }
        }
      }

      &::before {
        background-color: var(--color-button-active);
        border: 1px solid transparent;
        border-radius: 100%;
        color: var(--color-button-text-active);
        content: '?';
        display: block;
        font-weight: bold;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        width: 2rem;
        position: absolute;
        bottom: -1rem;
        left: -2.5rem;
      }
    }

    .h5p-personality-quiz-answer-options {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: flex-end;
      margin: 0 2.5rem 0.5rem 0;
      max-width: calc(100% - 5rem);
      position: relative;

      &::before {
        background-color: var(--color-button-active);
        border: 1px solid transparent;
        border-radius: 100%;
        color: var(--color-button-text-active);
        content: '\f007';
        display: block;
        font-family: "H5PFontAwesome4", sans-serif;
        font-weight: bold;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        width: 2rem;
        position: absolute;
        bottom: -1rem;
        right: -2.5rem;
      }

      &.display-none {
        display: none;
      }
    }
  }

  &.display-none {
    display: none;
  }
}
