@import "@styles/main";

.h5p-personality-quiz-question-screen {
  align-items: center;
  display: flex;
  flex-direction: column;

  .h5p-personality-quiz-panel-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: min(100%, 60em);
  }

  &.display-none {
    display: none;
  }
}
